div.card-body-fix {
  padding-top: 0 !important;
}

.btn {
  border-radius: 10rem !important;
  margin-bottom:  10px !important;
}

.check-label {
  color: black;
  padding-left: 5px !important;
}

.text-fix {
  margin-bottom: -20px !important;
}