<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>
      Crear Votaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-refresher *ngIf="!showQR" slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content pulling-text="Actualizar ID" refreshing-spinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!showQR">
    <div class="card card-rounded">
      <div class="card-body card-body-fix">

        <!-- Identificador de la votación -->
        <div class="text-center form-header default-color title-id">
          <h3 class="text-id">ID de su votación: <b><a class="texto-copiado" (click)="copiarID()">{{ ID }}</a></b></h3>
        </div>

        <!-- Pregunta de la votación -->
        <div class="form-group shadow-textarea">
          <textarea id="myTextarea" class="form-control z-depth-1" rows="5" placeholder="Escriba su pregunta aquí..."></textarea>
        </div>


        <!-- Botones de la votación -->
        <div class="text-center">
          <button type="button" class="btn btn-info waves-effect waves-light" (click)="genvot()">Generar
            votación</button>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="showQR" text-center>
    <ion-card color="medium">
      <ion-card-content>
        <img [src]="imgSrc" />
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>Votación creada con exito!</ion-card-title>
        <p><b>ID: <a class="texto-copiado" (click)="copiarID()">{{ ID }}</a></b></p>
      </ion-card-header>
      <div class="text-center">
        <button type="button" class="btn btn-default waves-effect waves-light fix-padding" (click)="clearAll()">Generar otra votación</button>
      </div>
    </ion-card>
  </div>
</ion-content>