<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="presentAlertConfirm()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-toolbar color="dark"> -->
<!-- </ion-toolbar> -->
<div class="segment-fix">
  <ion-segment mode="ios" color="light" (ionChange)="segmentChanged($event)" padding>
    <ion-segment-button mode="ios" value="myvotes" checked>
      <ion-label>Mis Votaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="others">
      <ion-label>Otras Votaciones</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-content color="dark">
  <ion-list mode="ios" color="dark">
    <ion-item mode="ios" color="dark" *ngFor="let votacion of votaciones" (click)="openVotacion(votacion)" detail>
      <ion-icon mode="ios" color="secondary" slot="start" name="analytics"></ion-icon>
      <ion-label>Votación de {{ votacion.userName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>