.btn, .btn:hover {
  border-radius: 10rem !important;
}

img {
  width: 30px !important;
}

.like {
  padding-bottom: 5px !important;
}

.dislike {
  padding-top: 5px !important;
}

span.nulo {
  font-size: 20px!important;
  font-weight: bold!important;
}